/*  test site
	reset css
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	padding: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css */

html {
	position: relative;
	min-height: 100%;
}
body {
	/* ?????? ?????, ?? ?????? ?????? */
	margin-bottom: 80px !important;
}

header, footer {
    background: black;
    color: white;
    font-size: 20px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
}
.header-title {
    padding: 20px;
}

.footer-content {
    text-align: center;
    padding: 20px;
}
.sidebar {
    margin-top: 30px;
}

.sidebar a {
    float: left;
    display: block;
    width: 100%;
    font-size: 18px;
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}
#information {
    max-width: 1000px;
    min-height: 500px;
    margin-left: 20px;
}

#getLinksFile {
    padding: 30px;
}
thead {
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    background: black;
}

td {
    font-size: 12px;
}

tr > td:nth-child(3) {
    
}
tr > td:nth-child(1) {
    max-width: 335px;
    overflow: hidden;
}
.table {
	border: 1px solid grey;
}
.sidebar {
    position: fixed!important;
    right: 0;
    top: 16px;
}
form {
	padding: 20px 0px 20px 35px;
	margin: 0 0 10px 0;
	border: 1px solid black;
}